{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script src="{% static 'blog/blog.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.min.css">
</head>
<body>
    <header class="main container">
        <h1><a href="https://github.com/davidddeveloper">@davidddeveloper</a></h1>
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i></li>
        </ul>
    </header>
    <main>
        <section class="blog container">
            {% block content %}
            {% endblock %}
            
        </section>
        <!-- discover more-->
        <section class="discover-more container">
            <h3>Discover more</h3>
            <ul>
            {% for blog in blogs %}
                <div>
                    <li><a href="{% url 'blog' blog.title %}">{{blog.title}}</a></li>
                </div>
            {% endfor %}
            </ul>
        </section>
        <div class="text-is-selected" id="popup">
            <button id="copy-btn" title="copy"> <i class="fa fa-clipboard" aria-hidden="true"></i></button>
            <div class="share-container">
                <!-- Twitter Share -->
                    <a href="#" id="twitter-share" target="_blank" class=""><i class="ri-twitter-fill"></i></a>
                <!-- Instagram Share -->
                    <a href="#" id="instagram-share" target="_blank" class=""><i class="ri-instagram-fill"></i></a>
                <button id="share-btn" title="share"><i class="fa fa-share" aria-hidden="true"></i></button>
            </div>
        </div>
        <!-- Login and Logout section -->
        {% if request.user.is_authenticated == False %}
        <form class="signup-or-login-form" action="" method="POST">
            {% csrf_token %}
            <div>{{message}}</div>
            <h5><a href="https://github.com/davidddeveloper">@davidddeveloper</a></h5>
            <label for="username">
                <input type="text" name="username" id="username" placeholder="username..." required>
            </label>
            <label for="email">
                <input type="email" name="email" id="email" placeholder="email..." required>
            </label>
            <label for="password">
                <input type="password" name="password1" id="password" minlength="8" maxlength="30" placeholder="password..." required>
            </label>
            <label for="password_confirmation">
                <input type="password" name="password2" id="password_confirmation" minlength="8" maxlength="30" placeholder="retype password..." required>
            </label>
            <button id="login-btn" type="submit" name="login">Login</button>
            <button id="signup-btn" type="submit" name="signup">Signup</button>
            <!--<button type="submit">Signup</button>-->
            <p><a href="#" class="link-to-signup">Signup</a> <a href="#" class="link-to-signin">Login</a> Instead</p>

            <button class="close-btn">
                X
            </button>
        </form>
        {% endif %}
        <!--for changing background when form popup is shown-->
        <section class="focus-on-form">
        </section>
        <!-- Successful login feedback popup -->
        {% if request.user.is_authenticated %}
        <div class="login-success">
            <p>Welcome {{request.user.username}}</p>
        </div>
        {% endif %}
    </main>
</body>
</html>